{% load static %}

{% if request.session.pista.rol == 1 %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    <div class="container mt-4">
    <h2 class="text-center">Usuarios</h2>
    
    <table class="table table-striped table-bordered table-hover">
        <thead class="table-dark">
            <tr>
                <th>Nombre</th>
                <th>Correo</th>
                <th>Ciudad</th>
                <th>Teléfono</th>
            </tr>
        </thead>
        <tbody>
            {% for datos in dato %}
            <tr>
                <td>{{ datos.nombre_completo }}</td>
                <td>{{ datos.correo }}</td>
                <td>{{ datos.ciudad }}</td>
                <td>{{ datos.telefono }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


    </div>
{% else %}
    <div id="notificaciones">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{% if message.tags and message.tags != 'error' %}{{ message.tags }}{% else %}danger{% endif %} alert-dismissible fade show text-center"
            role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        {% endif %}
        <a href="{% url 'pagina_administrador' %}" class="btn btn-danger btn-sm d-block w-25 mx-auto"> Volver</a>
    </div>
{% endif %}