{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Panel de Administrador</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/administrador/pagina_administrador.css' %}">
</head>

{% if request.session.pista %}
<body>

  <!-- BARRA LATERAL -->
  <div class="sidebar">
    <img src="{% static 'img/foto_admin.png' %}" class="profile-img" alt="Admin">
    <h5>Administrador</h5>
    <p class="username">{{ request.session.pista.nombre_completo }}</p>
    
    <nav class="nav flex-column">
      <a href="{% url 'listar_usuarios' %}" class="nav-link">
        <img src="{% static 'img/frame_user.png' %}" class="icon-img"> Usuarios
      </a>
      <a href="{% url 'listar_productos' %}" class="nav-link">
        <img src="{% static 'img/Frame_productos.png' %}" class="icon-img"> Productos
      </a>
      <a href="{% url 'listar_mascotas_perdidas' %}" class="nav-link">
        <img src="{% static 'img/frame_perdidas.png' %}" class="icon-img"> Mascotas Perdidas
      </a>
      <a href="{% url 'listar_mascotas_adopcion' %}" class="nav-link">
        <img src="{% static 'img/frame_adopcion.png' %}" class="icon-img"> Adopciones
      </a>
      <a href="#" class="nav-link">
        <img src="{% static 'img/frame_soporte.png' %}" class="icon-img"> Soporte
      </a>
      <a href="#" class="nav-link">
        <img src="{% static 'img/Frame_Reportes.png' %}" class="icon-img"> Reportes
      </a>
      <a href="{% url 'pagina_principal' %}" class="nav-link">
        <img src="{% static 'img/Frame_Salir.png' %}" class="icon-img"> Salir
      </a>
    </nav>
  </div>

  <!-- CONTENIDO PRINCIPAL -->
  <div class="main-content">
    <div class="admin-header justify-content-center">
      <h2>Panel de Control</h2>
    </div>

    <!-- CONTENIDO VARIABLE -->
    {% block contenido_admin %}
      <div class="card-custom">
        <h5>Bienvenido al panel</h5>
        <p>Selecciona una sección desde la izquierda para administrar el sistema.</p>
      </div>
    {% endblock %}
  </div>

  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
{% endif %}
</html>
