body {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-image: url('../img/fondo_marcadeagua2.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

/* Nuevo header */
.nav_ch-header {
    background-color: rgb(183, 156, 111);
}

/* Logo container */
.nav_ch-logo-container {
    display: inline-block;
}

/* Logo */
.nav_ch-logo {
    width: 75px;
}

/* Centrado de lista nav */
.nav_ch-list-center .navbar-nav {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 60px;
}

/* Botones */
.btn-outline-secondary {
    background-color: #B79C6F !important;
    color: white !important;
    border-color: rgb(194, 190, 190) !important;
}

.btn-outline-secondary:hover {
    background-color: #7F694A !important;
}

.btn_container {
    display: flex;
    gap: 5em;
    justify-content: center; 
}

.width_boton {
    width: 60%;
    padding: 5%;
}

.btn-primary {
    background-color: #807A6C!important; 
    border: none !important;
}

.btn-secondary {
    background-color: #403D36 !important;
    border: #000000 !important;
}

.btn-primary:hover {
    background-color: #252420 !important;
}

.btn-hover-effect:hover {
    transform: translateY(-5px);
    transition: transform 0.2s ease-out;
    box-shadow: 0px 8px 15px rgba(39, 39, 39, 0.2);
}

/* Media queries */
@media (min-width: 1200px) {
    .post-navigation {
        gap: 60px;
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .post-navigation {
        gap: 30px;
    }
}

@media (max-width: 767px) {
    .post-navigation {
        gap: 20px;
    }

    @media (max-width: 575px) {
        .post-navigation {
            justify-content: space-around;
        }

        .post-nav-button {
            margin-bottom: 15px;
        }
    }
}
