{% extends 'administrador/base_sesion.html' %}
{% load static %}
{% block estilos_unicos %}
    <link rel="stylesheet" href="{% static 'css/usuarios/adopciones.css' %}">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
{% endblock %}
{% block titulo %} Adopciones {% endblock %}

{% block contenido %}
<div class="container my-4">
    <div class="row">
        <!-- Side Menu -->
        <div class="col-md-3">
            <div class="side-menu">
                <h5>Filtrar por</h5>
                <ul class="list-unstyled">
                    <li><input type="radio" name="edad"> Cachorros</li>
                    <li><input type="radio" name="edad"> Adultos</li>
                    <li><input type="radio" name="edad"> Mixto</li>
                    <hr>
                    <li><input type="radio" name="sexo"> Todos</li>
                    <li><input type="radio" name="sexo"> Hembras</li>
                    <li><input type="radio" name="sexo"> Machos</li>
                    <hr>
                    <li><input type="radio" name="tamano"> Todos</li>
                    <li><input type="radio" name="tamano"> Pequeños</li>
                    <li><input type="radio" name="tamano"> Medianos</li>
                    <li><input type="radio" name="tamano"> Grandes</li>
                </ul>
            </div>
        </div>

        <!-- Publicaciones -->
        <div class="col-md-9">
            <div class="row">
                {% for publicacion in publicaciones %}
                    {% if publicacion.tipo_publicacion == 'adopcion' %}
                        <div class="col-md-4 mb-4">
                            <div class="dog-card text-center p-3">
                                {% if publicacion.fotos.first %}
                                    <img src="{{ publicacion.fotos.first.imagen.url }}" alt="{{ publicacion.nombre_mascota }}" class="dog-image mb-2">
                                {% else %}
                                    <div class="dog-image placeholder bg-secondary mb-2 d-flex align-items-center justify-content-center text-white">
                                        <i class="fas fa-paw fa-2x"></i>
                                    </div>
                                {% endif %}
                                <h5 class="text-purple">{{ publicacion.nombre_mascota }}</h5>
                                <p>Edad: {{ publicacion.edad }}</p>
                                <p>Sexo: {{ publicacion.sexo }}</p>
                                <p>Raza: {{ publicacion.raza }}</p>
                                <p>Contacto: {{ publicacion.contacto }}</p>
                            </div>
                        </div>
                    {% endif %}
                {% empty %}
                    <p class="text-center">No hay mascotas disponibles para adopción.</p>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
