{% extends 'administrador/base_sesion.html' %}
{% load static %}
{% block estilos_unicos %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/usuarios/mascotas_perdidas.css' %}">
{% endblock %}
{% block titulo %} Mascotas Perdidas {% endblock %}

{% block contenido %}
<div class="container mt-5">
    <div class="row">
        {% for publicacion in publicaciones %}
            {% if publicacion.tipo_publicacion == 'perdida' %}
                <div class="col-md-4 mb-4">
                    <div class="lost-pet-card d-flex rounded">
                        <div class="card-left p-3 flex-grow-1">
                            <h4 class="text-white">¡Se busca {{ publicacion.nombre_mascota }}!</h4>
                            <span class="badge bg-light text-dark mb-1">Edad: {{ publicacion.edad }}</span><br>
                            <span class="badge bg-light text-dark mb-1">Raza: {{ publicacion.raza }}</span><br>
                            <span class="badge bg-dark mb-2">Sexo: {{ publicacion.sexo }}</span>
                            <p class="text-white">{{ publicacion.descripcion }}</p>
                            <p class="text-white">Para mayor información: {{ publicacion.contacto }}</p>
                        </div>
                        <div class="card-right d-flex align-items-center justify-content-center p-3">
                            {% if publicacion.fotos.first %}
                                <img src="{{ publicacion.fotos.first.imagen.url }}" class="rounded-circle lost-pet-img" alt="Mascota">
                            {% else %}
                                <div class="rounded-circle lost-pet-img bg-secondary d-flex align-items-center justify-content-center text-white">
                                    <i class="fas fa-exclamation fa-2x"></i>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endif %}
        {% empty %}
            <p class="text-center">No hay publicaciones de mascotas perdidas.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
