{% extends 'administrador/base_sesion.html' %}
{% load static %}
{% block estilos_unicos %}
  <link rel="stylesheet" href="{% static 'css/usuarios/veterinarias_asociadas.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

{% endblock %}
{% block titulo %} Veterinarias Asociadas {% endblock %}


{% block contenido %}
  
    <!-- Cards Container -->
    <div class="cards-container mt-5">
      <!-- Card 1 -->
      <div class="card">
        <div class="card-header">
          <p class="card-credits">Sugerencias</p>
        </div>
        <h3 class="card-title">Bienvenidos</h3>
        <a href="https://puntovet.com.co/" target="_blank">
          <span class="badge">Punto.Vet</span>
        </a>
        <img src="{% static 'img/punto_vet.png' %}" class="card-img-top w-50 d-block mx-auto" alt="...">
        <ul class="card-description">
          <li>Ayudas Diagnósticas</li>
          <li>Hospitalización de Mascotas</li>
          <li>Urgencias Veterinarias 24 Horas</li>
          <li>Cirugía Veterinaria</li>
          <li>Medicina Preventiva Veterinaria</li>
          <li>Consulta Veterinaria</li>
          <li>Trámites de Viaje</li>
          <li>Laboratorio Clínico</li>
        </ul>
        <div class="card-footer">
          <div class="card-time">
            <i class="fa fa-calendar-o"></i>
            <p>2 Dias</p>
          </div>
        </div>
      </div>
      <!-- Repite la estructura de la card según lo necesario -->
      <div class="card">
        <div class="card-header">
          <p class="card-credits">Sugerencias</p>
        </div>
        <h3 class="card-title">Bienvenidos</h3>
        <a href="https://www.animalsveterinaria.com/" target="_blank">
          <span class="badge bg-primary">Animals</span>
        </a>
        <img src="{% static 'img/animals.png' %}" class="card-img-top w-50 d-block mx-auto" alt="...">
        <ul class="card-description">
          <li>SALUD Y BIENESTAR</li>
          <li>MARCAS</li>
          <li>VETERINARIO</li>
          <li>BAÑO Y PELUQUERIA</li>
        </ul>        
        <div class="card-footer">
          <div class="card-time">
            <i class="fa fa-calendar-o"></i>
            <p>4 Dias</p>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <p class="card-credits">Sugerencias</p>
        </div>
        <h3 class="card-title">Bienvenidos</h3>
        <a href="https://vetmasagro.com/" target="_blank">
          <span class="badge">Vet-Agro</span>
        </a>
        <img src="{% static 'img/vet+agro.png' %}" class="card-img-top w-50 d-block mx-auto" alt="...">
        <ul class="card-description">
          <li>Tienda</li>
          <li>Productos para perros</li>
          <li>Alimento</li>
          <li>Farmacia</li>
          <li>Higiene</li>
          <li>Productos para gatos</li>
        </ul>
        
        <div class="card-footer">
          <div class="card-time">
            <i class="fa fa-calendar-o"></i>
            <p>10 Dias</p>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <p class="card-credits">Sugerencias</p>
        </div>
        <h3 class="card-title">Bienvenidos</h3>
        <a href="https://laika.com.co/" target="_blank">
          <span class="badge">Laika</span>
        </a>
        <img src="{% static 'img/laika.png' %}" class="card-img-top w-50 d-block mx-auto" alt="...">
        <ul class="card-description">
          <li>Consulta veterinaria a domicilio</li>
          <li>Adopción</li>
        </ul>        
        <div class="card-footer">
          <div class="card-time">
            <i class="fa fa-calendar-o"></i>
            <p>4 Days</p>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <p class="card-credits">Sugerencias</p>
        </div>
        <h3 class="card-title">Bienvenidos</h3>
        <a href="https://caninosyfelinos.com.co/" target="_blank">
          <span class="badge">Caninos y Felinos</span>
        </a>
        <img src="{% static 'img/caninosYfelinos.png' %}" class="card-img-top w-50 d-block mx-auto" alt="...">
        <ul class="card-description">
          <li>Consulta y Revisión</li>
          <li>Laboratorio</li>
          <li>Endoscopia</li>
          <li>Rayos X · Ecografía</li>
          <li>Hospital · Cuidados Intensivos</li>
          <li>Cirugía · Laparoscopia</li>
          <li>Oftalmología</li>
          <li>Fisioterapia</li>
          <li>Cardiología</li>
        </ul>        
        <div class="card-footer">
          <div class="card-time">
            <i class="fa fa-calendar-o"></i>
            <p>4 Days</p>
          </div>
        </div>
      </div> <div class="card">
        <div class="card-header">
          <p class="card-credits">Sugerencias</p>
        </div>
        <h3 class="card-title">Bienvenidos</h3>
        <a href="https://www.animalpets.live/" target="_blank">
          <span class="badge">Animal Pets</span>
        </a>
        <img src="{% static 'img/animalpets.png' %}" class="card-img-top w-50 d-block mx-auto" alt="...">
        <ul class="card-description">
          <li>Venta de mascotas</li>
        </ul>
        <div class="card-footer">
          <div class="card-time">
            <i class="fa fa-calendar-o"></i>
            <p>4 Days</p>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <p class="card-credits">Sugerencias</p>
        </div>
        <h3 class="card-title">Bienvenidos</h3>
        <a href="https://puntovet.com.co/" target="_blank">
          <span class="badge">Punto.Vet</span>
        </a>
        <img src="{% static 'img/productos.png' %}" class="card-img-top w-50 d-block mx-auto" alt="...">
        <p class="card-description">Queremos que te informes sobre nosotros los cuales nos especializamos en tener un buen ambiente tanto para los clientes y para las mascotas.</p>
        <div class="card-footer">
          <div class="card-time">
            <i class="fa fa-calendar-o"></i>
            <p>2 Dias</p>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <p class="card-credits">Sugerencias</p>
        </div>
        <h3 class="card-title">Bienvenidos</h3>
        <a href="https://puntovet.com.co/" target="_blank">
          <span class="badge">Punto.Vet</span>
        </a>
        <img src="{% static 'img/productos.png' %}" class="card-img-top w-50 d-block mx-auto" alt="...">
        <p class="card-description">Queremos que te informes sobre nosotros los cuales nos especializamos en tener un buen ambiente tanto para los clientes y para las mascotas.</p>
        <div class="card-footer">
          <div class="card-time">
            <i class="fa fa-calendar-o"></i>
            <p>2 Dias</p>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}