{% extends 'administrador/base_sesion.html' %}
{% load static %}
{% block estilos_unicos %}
  <link rel="stylesheet" href="{% static 'css/usuarios/veterinarias_asociadas.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

{% endblock %}
{% block titulo %} Veterinarias Asociadas {% endblock %}


{% block contenido %}
  
    <!-- Cards Container -->
    <div class="cards-container mt-5">
      <!-- Card 1 -->
      <div class="card">
        <div class="card-header">
          <p class="card-credits">Sugerencias</p>
        </div>
        <h3 class="card-title">Bienvenidos</h3>
        <a href="https://puntovet.com.co/" target="_blank">
          <span class="badge">Punto.Vet</span>
        </a>
        <img src="{% static 'img/productos.png' %}" class="card-img-top w-50 d-block mx-auto" alt="...">
        <p class="card-description">Queremos que te informes sobre nosotros los cuales nos especializamos en tener un buen ambiente tanto para los clientes y para las mascotas.</p>
        <div class="card-footer">
          <div class="card-time">
            <i class="fa fa-calendar-o"></i>
            <p>2 Dias</p>
          </div>
        </div>
      </div>
      <!-- Repite la estructura de la card según lo necesario -->
      <div class="card">
        <div class="card-header">
          <p class="card-credits">Sugerencias</p>
        </div>
        <h3 class="card-title">Bienvenidos</h3>
        <a href="https://www.animalsveterinaria.com/" target="_blank">
          <span class="badge bg-primary">Animals</span>
        </a>
        <img src="{% static 'img/veterinarias_asociada.jpg' %}" class="card-img-top w-50 d-block mx-auto" alt="...">
        <p class="card-description">Gestionamos todo tipo de incovenenientes que se te presentan para eso estamos nosotros queremos brindarte la mejor ayuda posible.</p>
        <div class="card-footer">
          <div class="card-time">
            <i class="fa fa-calendar-o"></i>
            <p>4 Dias</p>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <p class="card-credits">Sugerencias</p>
        </div>
        <h3 class="card-title">Bienvenidos</h3>
        <a href="https://vetmasagro.com/" target="_blank">
          <span class="badge">Vet-Agro</span>
        </a>
        <img src="{% static 'img/veterinarias_asociada.jpg' %}" class="card-img-top w-50 d-block mx-auto" alt="...">
        <p class="card-description">Gestionamos todo tipo de incovenenientes que se te presentan para eso estamos nosotros queremos brindarte la mejor ayuda posible.</p>
        <div class="card-footer">
          <div class="card-time">
            <i class="fa fa-calendar-o"></i>
            <p>10 Dias</p>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <p class="card-credits">Sugerencias</p>
        </div>
        <h3 class="card-title">Bienvenidos</h3>
        <a href="https://laika.com.co/" target="_blank">
          <span class="badge">Laika</span>
        </a>
        <img src="{% static 'img/veterinarias_asociada.jpg' %}" class="card-img-top w-50 d-block mx-auto" alt="...">
        <p class="card-description">Gestionamos todo tipo de incovenenientes que se te presentan para eso estamos nosotros queremos brindarte la mejor ayuda posible.</p>
        <div class="card-footer">
          <div class="card-time">
            <i class="fa fa-calendar-o"></i>
            <p>4 Days</p>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <p class="card-credits">Sugerencias</p>
        </div>
        <h3 class="card-title">Bienvenidos</h3>
        <a href="https://caninosyfelinos.com.co/" target="_blank">
          <span class="badge">Caninos y Felinos</span>
        </a>
        <img src="{% static 'img/veterinarias_asociada.jpg' %}" class="card-img-top w-50 d-block mx-auto" alt="...">
        <p class="card-description">Gestionamos todo tipo de incovenenientes que se te presentan para eso estamos nosotros queremos brindarte la mejor ayuda posible.</p>
        <div class="card-footer">
          <div class="card-time">
            <i class="fa fa-calendar-o"></i>
            <p>4 Days</p>
          </div>
        </div>
      </div> <div class="card">
        <div class="card-header">
          <p class="card-credits">Sugerencias</p>
        </div>
        <h3 class="card-title">Bienvenidos</h3>
        <a href="https://www.animalpets.live/" target="_blank">
          <span class="badge">Animal Pets</span>
        </a>
        <img src="{% static 'img/veterinarias_asociada.jpg' %}" class="card-img-top w-50 d-block mx-auto" alt="...">
        <p class="card-description">Gestionamos todo tipo de incovenenientes que se te presentan para eso estamos nosotros queremos brindarte la mejor ayuda posible.</p>
        <div class="card-footer">
          <div class="card-time">
            <i class="fa fa-calendar-o"></i>
            <p>4 Days</p>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <p class="card-credits">Sugerencias</p>
        </div>
        <h3 class="card-title">Bienvenidos</h3>
        <a href="https://puntovet.com.co/" target="_blank">
          <span class="badge">Punto.Vet</span>
        </a>
        <img src="{% static 'img/productos.png' %}" class="card-img-top w-50 d-block mx-auto" alt="...">
        <p class="card-description">Queremos que te informes sobre nosotros los cuales nos especializamos en tener un buen ambiente tanto para los clientes y para las mascotas.</p>
        <div class="card-footer">
          <div class="card-time">
            <i class="fa fa-calendar-o"></i>
            <p>2 Dias</p>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <p class="card-credits">Sugerencias</p>
        </div>
        <h3 class="card-title">Bienvenidos</h3>
        <a href="https://puntovet.com.co/" target="_blank">
          <span class="badge">Punto.Vet</span>
        </a>
        <img src="{% static 'img/productos.png' %}" class="card-img-top w-50 d-block mx-auto" alt="...">
        <p class="card-description">Queremos que te informes sobre nosotros los cuales nos especializamos en tener un buen ambiente tanto para los clientes y para las mascotas.</p>
        <div class="card-footer">
          <div class="card-time">
            <i class="fa fa-calendar-o"></i>
            <p>2 Dias</p>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}