
.post-nav-item {
    background-color: #C4B092;
    color: rgb(19, 18, 18);
    border: none;
    border-radius: 4px;
    white-space: nowrap;
    cursor: pointer;
    width: 190px;
    text-align: center;
    margin: 0 5px;
    padding: 8px 15px;
    transition: background-color 0.3s ease;
}

.post-nav-item:hover {
    background-color: #C4B092;
}

.menu-buttons {
    margin: 20px 0;
}

.menu-btn {
    background-color: #C4B092;
    color: white;
    border: none;
    padding: 8px 15px;
    margin: 5px;
    width: 100%;
}

.side-menu {
    background-color: #C4B092;
    padding: 10px;
    border-radius: 5px;
    color:rgb(12, 12, 12);
}

.side-menu ul {
    list-style-type: none;
    padding-left: 10px;
}

.side-menu li {
    margin: 8px 0;
}

.dog-card {
    background-color: #C4B092;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 20px;
    text-align: center;
    color: rgb(12, 12, 12);
}

.dog-image {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 auto 10px;
    display: block;
}

