.bg_header{
    background-color: #B79C6F;
}

.ctnd-logo{
    display: inline-block;
}

.width_logo{
    width: 75px;
}

.navbar-nav {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 60px;
}

.btn-outline-secondary{
    background-color: #B79C6F !important;
    color: white !important;
    border-color: black !important;
}

.btn-outline-secondary:hover{
    background-color: aqua !important;
}

.btn_container{
    display: flex;
    gap: 5em;
    justify-content: center; 
}

.width_boton{
    width: 60%;
    padding: 5%;
}