body {
    background-color: #fff;
    font-family: Arial, sans-serif;
    background-image: url(../img/Frame_135.png);

}


.logo {
    height: 60px;
    object-fit: contain;
    max-width: 100%;
}

.search-container {
    display: flex;
    flex-grow: 1;
    min-width: 200px;
    margin: 0 10px;
}

.search-input {
    flex-grow: 1;
    padding: 8px;
    border: none;
    border-radius: 20%;
    margin-right: 10px;
}

.search-button {
    background-color: #f0f0f0;
    border: none;
    padding: 8px 15px;
    border-radius: 30px;
}

.nav-buttons {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.nav-button {
    background-color: #ffffff;
    border: none;
    padding: 8px 15px;
    border-radius: 4px;
    white-space: nowrap;
}

.content {
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 20px; /* Ajustado ya que el post-navigation está ahora en la navbar */
}
        
.post-nav-item {
    background-color: #C4B092;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 4px;
    white-space: nowrap;
    cursor: pointer;
    width: 190px;
    text-align: center;
    margin: 0 5px;
    padding: 8px 15px;
    transition: background-color 0.3s ease;
}

.post-nav-item:hover {
    background-color: #AB9B7E;
}
.back-button {
    color: #4d4233;
    font-size: 24px;
}

.paw-background {
    position: relative;
    background-color: #fff;
}

.paw-print {
    position: absolute;
    width: 60px;
    height: 60px;
    
}

.pet-card {
    position: relative;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.pet-card h3 {
    margin-top: 0;
    font-size: 1.2rem;
    padding-left: 80px; /* Espacio para el "Se busca" */
}

.pet-image {
    max-width: 100%;
    height: auto;
    max-height: 150px; /* Reducido para hacer las tarjetas más pequeñas */
    border-radius: 6px;
}

.search-badge {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #ff6b6b;
    color: white;
    padding: 3px 8px;
    border-radius: 4px;
    font-size: 0.8rem;
    font-weight: bold;
}

.pet-details {
    margin-top: 10px;
}

.pet-tag {
    background-color: #8a7a5f;
    color: white;
    padding: 3px 8px;
    border-radius: 5px;
    margin-right: 5px;
    font-size: 12px;
    display: inline-block;
    margin-bottom: 5px;
}

