.bg_header{
    background-color: #B79C6F;
}

.ctnd-logo{
    display: inline-block;
}

.width_logo{
    width: 75px;
}

.navbar-nav {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 60px;
}

