html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #ffffff !important; 
    background-image: none !important; /* Elimina cualquier imagen de fondo */
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra el contenido */
}

.about .title h1 {
    font-size: 2rem;
    color: #333;
}
.card {
    transition: transform 0.3s ease-in-out;
}
.card:hover {
    transform: scale(1.05);
}
