{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/administrador/listar_productos.css' %}">
</head>
<body>
    <div id="notificaciones">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{% if message.tags and message.tags != 'error' %}{{ message.tags }}{% else %}danger{% endif %} alert-dismissible fade show text-center"
            role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        {% endif %}
    </div>
    <div class="container">
        <h1 class="text-center my-4">Productos</h1>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
            {% for data in dato_producto %}
            <div class="col">
                <div class="card h-100">
                    <div class="card-img-container">
                        {% if data.foto_producto %}
                            <img src="{{ data.foto_producto.url }}" class="card-img-top" alt="{{ data.nombre_producto }}">
                        {% else %}
                            <div class="bg-light d-flex align-items-center justify-content-center h-100">
                                <i class="fa-solid fa-image text-muted fa-3x"></i>
                            </div>
                        {% endif %}
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Nombre: {{ data.nombre_producto }}</h5>
                        <p class="card-text">Categoría: {{ data.categoria }}</p>
                        <p class="card-text">Precio: {{ data.precio_formateado }}</p>
                        <p class="card-text">Cantidad: {{ data.cantidad }}</p>
                        <p class="card-text">Estado: {{ data.estado }}</p>
                    </div>
                    <div class="card-footer d-flex justify-content-between">
                        <a href="">
                            <button class="btn btn-primary btn-sm"><i class="fa-solid fa-eye"></i></button>
                        </a>
                        <a href="{% url 'eliminar_productos' data.id_producto %}">
                            <button class="btn btn-danger btn-sm"><i class="fa-solid fa-trash-can"></i></button>
                        </a>
                        <a href="{% url 'editar_productos' data.id_producto %}">
                            <button class="btn btn-warning btn-sm"><i class="fa-solid fa-pen-to-square"></i></button>
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <a href="{% url 'agregar_productos' %}" class="btn btn-danger btn-sm d-block w-25 mx-auto mt-5 mb-5">Agregar Productos</a>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
</body>
</html>