{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/iniciar_sesion.css' %}" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css.map' %}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"
    />

    <title>Iniciar Sesion</title>
  </head>
  <body>
    <main class="ogin-container text-center d-flex justify-content-center align-items-center vh-100">
      <div class="container-lg">
        <div class="row no-gutter">
          <div class="col-md-6 d-none d-md-flex bg-image"></div>
          <div class="col-md-6 bg-light">
            <div class="login d-flex align-items-center py-5">
              <div class="container">
                <div class="row">
                  <div class="col-lg-7 col-xl-6 mx-auto">
                    <h3 class="display-4 text-nowrap text-center">INICIAR SESION!</h3>
                    <br />
                    <form>
                      <div class="form-group mb-3">
                        <input id="inputEmail" type="email" placeholder="Email address" required="" autofocus=""class="form-control rounded-pill border-0 shadow-sm px-4"/>
                      </div>
                      <div class="form-group mb-3">
                        <input
                          id="inputPassword"
                          type="password"
                          placeholder="Password"
                          required=""
                          class="form-control rounded-pill border-0 shadow-sm px-4 text-danger"
                        /><br />
                      </div>
                      <div class="custom-control custom-checkbox mb-3">
                        <input
                          id="customCheck1"
                          type="checkbox"
                          checked
                          class="custom-control-input"
                        />
                        <label for="customCheck1" class="custom-control-label"
                          >Remember password</label
                        >
                      </div>
                      <button
                        type="submit"
                        class="btn btn-danger btn-block text-uppercase mb-2 rounded-pill shadow-sm"
                      >
                        Registrarse
                      </button>
                      <div
                        class="text-center d-flex justify-content-between mt-4"
                      >
                        <p>
                          <a href=" " class="font-italic text-muted">
                            <u>Crear Cuenta</u></a
                          >
                        </p>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>



