{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mascotas Perdidas</title>
    <link rel="stylesheet" href="{% static 'css/mascotas_perdidas.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body>  
    <div class="pagina">
        <header>
            <div class="logo">
                <a href="{% url 'pagina_principal' %}">
                    <img src="{% static 'img/logo_ch.png' %}" alt="Logo Cuidando Huellas">
                </a>
            </div>
           
            <nav>
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="services.html">Servicios</a></li>
                    <li><a href="blogs.html">Blogs</a></li>
                    <li><a href="contacto.html">Contacto</a></li>
                    <li><a href="about.html">About</a></li>
                </ul>
            </nav>
            
            <div class="search-container">
                <input type="text" placeholder="Buscar" class="search-bar">
                <button type="submit" class="search-btn">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </header>
        <main>
            <div class="bonones_menu">
                <button>Mascotas Perdidas</button>
                <button>Productos</button>
                <button class="active">Adopciones</button>
                <button>Veterinaria Asociada</button>
            </div>

            <div class="huellas-1">
                <div class="huellitas-1">
                    <img src="{% static 'img/huellas.png' %}" alt="Huellas">
                </div>
                <div class="huellitas-3">
                    <img src="{% static 'img/huellas.png' %}" alt="Huellas">
                </div>
                <div class="huellitas-3">
                    <img src="{% static 'img/huellas.png' %}" alt="Huellas">
                </div>
                <div class="huellitas-3">
                    <img src="{% static 'img/huellas.png' %}" alt="Huellas">
                </div>
                <div class="huellitas-3">
                    <img src="{% static 'img/huellas.png' %}" alt="Huellas">
                </div>
            </div>

            
            <div class="huellas-2">
                <div class="huellitas-1">
                    <img src="{% static 'img/huellas.png' %}" alt="Huellas">
                </div>
                <div class="huellitas-4">
                    <img src="{% static 'img/huellas.png' %}" alt="Huellas">
                </div>
                <div class="huellitas-4">
                    <img src="{% static 'img/huellas.png' %}" alt="Huellas">
                </div>
                <div class="huellitas-4">
                    <img src="{% static 'img/huellas.png' %}" alt="Huellas">
                </div>
                <div class="huellitas-4">
                    <img src="{% static 'img/huellas.png' %}" alt="Huellas">
                </div>
            </div>
            
            <div class="huellas-3">
                <div class="huellitas-1">
                    <img src="{% static 'img/huellas.png' %}" alt="Huellas">
                </div>
                <div class="huellitas-3">
                    <img src="{% static 'img/huellas.png' %}" alt="Huellas">
                </div>
                <div class="huellitas-3">
                    <img src="{% static 'img/huellas.png' %}" alt="Huellas">
                </div>
                <div class="huellitas-3">
                    <img src="{% static 'img/huellas.png' %}" alt="Huellas">
                </div>
                <div class="huellitas-3">
                    <img src="{% static 'img/huellas.png' %}" alt="Huellas">
                </div>
            </div>
            <div class="huellas-4">
                <div class="huellitas-1">
                    <img src="{% static 'img/huellas.png' %}" alt="Huellas">
                </div>
                <div class="huellitas-4">
                    <img src="{% static 'img/huellas.png' %}" alt="Huellas">
                </div>
                <div class="huellitas-4">
                    <img src="{% static 'img/huellas.png' %}" alt="Huellas">
                </div>
                <div class="huellitas-4">
                    <img src="{% static 'img/huellas.png' %}" alt="Huellas">
                </div>
                <div class="huellitas-4">
                    <img src="{% static 'img/huellas.png' %}" alt="Huellas">
                </div>
            </div>

            <div class="etiquetas">
                <div class="etiquetas-content">
                    <h2>¡Se busca Toño!</h2>
                    <div class="info">
                        <span class="label">Edad: 3</span>
                        <span class="label">Raza: Criollo</span>
                        <span class="label">Sexo: Masculino</span>
                    </div>
                    <p>Se perdió por el lado de la comuna 13 el día 26/08/2024. Ayúdalo a volver a casa.</p>
                    <p>Para mayor información: 3025755799</p>
                </div>
                <div class="etiquetas-image">
                    <img src="{% static 'img/dog.png' %}" alt="Dog">
                </div>
            </div>
            <br>
            <div class="etiquetas">
                <div class="etiquetas-content">
                    <h2>¡Se busca Toño!</h2>
                    <div class="info">
                        <span class="label">Edad: 3</span>
                        <span class="label">Raza: Criollo</span>
                        <span class="label">Sexo: Masculino</span>
                    </div>
                    <p>Se perdió por el lado de la comuna 13 el día 26/08/2024. Ayúdalo a volver a casa.</p>
                    <p>Para mayor información: 3025755799</p>
                </div>
                <div class="etiquetas-image">
                    <img src="{% static 'img/dog.png' %}" alt="Dog">
                </div>
            </div>
            <br> 
            <div class="etiquetas">
                <div class="etiquetas-content">
                    <h2>¡Se busca Aurelio!</h2>
                    <div class="info">
                        <span class="label">Edad: 3</span>
                        <span class="label">Raza: Criollo</span>
                        <span class="label">Sexo: Masculino</span>
                    </div>
                    <p>Se perdió por el lado de la comuna 13 el día 26/08/2024. Ayúdalo a volver a casa.</p>
                    <p>Para mayor información: 3025755799</p>
                </div>
                <div class="etiquetas-image">
                    <img src="{% static 'img/dog.png' %}" alt="Dog">
                </div>
            </div>
            <br>
            <div class="etiquetas">
                <div class="etiquetas-content">
                    <h2>¡Se busca Toño!</h2>
                    <div class="info">
                        <span class="label">Edad: 3</span>
                        <span class="label">Raza: Criollo</span>
                        <span class="label">Sexo: Masculino</span>
                    </div>
                    <p>Se perdió por el lado de la comuna 13 el día 26/08/2024. Ayúdalo a volver a casa.</p>
                    <p>Para mayor información: 3025755799</p>
                </div>
                <div class="etiquetas-image">
                    <img src="{% static 'img/dog.png' %}" alt="Dog">
                </div>
            </div>
        </main>
        <footer>
            <p>Contactanos Urgentemente Para Reportar Mascotas Perdidas</p>
            <div class="social-icons">
                <img src="{% static 'img/facebook.png' %}" alt="Facebook">
                <img src="{% static 'img/instagram.png' %}" alt="Instagram">
                <img src="{% static 'img/tiktok.png' %}" alt="TikTok">
            </div>
        </footer>
    </div>
</body>

</html>