{% extends 'base.html' %}
{% load static %}


{% block estilos_unicos %}
  <link rel="stylesheet" href="{% static 'css/nuestros_servicios.css' %}">
{% endblock %}

{% block titulo %} Nuestro Servicios {% endblock %}


  {% block contenido %}
    <figure class="text-center mt-5">
        <blockquote class="blockquote">
          <h5 class="text-white">Nuestro Servicios</h5>
        </blockquote>
        <figcaption>
          <p class="text-white">En nuestra aplicacion podras encontrar una amplia variedad <br> de servicios diseñados para facilitar el cuidado y bienestar de tu mascota</p>
        </figcaption>
      </figure>

      <div class="row row-cols-1 row-cols-md-3 g-4 mt-5 mx-auto text-center w-75">
        <div class="col">
          <div class="card h-100">
            <img src="{% static 'img/chip_collar.png' %}" class="card-img-top w-50 d-block mx-auto" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
            </div>
          </div>
        </div>
        
        <div class="col">
          <div class="card h-100">
            <img src="{% static 'img/chip_collar.png' %}" class="card-img-top w-50 d-block mx-auto" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a short card.</p>
            </div>
          </div>
        </div>
        
        <div class="col">
          <div class="card h-100">
            <img src="..." class="card-img-top w-50 d-block mx-auto" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
            </div>
          </div>
        </div>
      
        <div class="col">
          <div class="card h-100">
            <img src="{% static 'img/chip_collar.png' %}" class="card-img-top w-50 d-block mx-auto" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
            </div>
          </div>
        </div>
        
        <div class="col">
          <div class="card h-100">
            <img src="{% static 'img/chip_collar.png' %}" class="card-img-top w-50 d-block mx-auto" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a short card.</p>
            </div>
          </div>
        </div>
        
        <div class="col">
          <div class="card h-100">
            <img src="..." class="card-img-top w-50 d-block mx-auto" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
            </div>
          </div>
        </div>
      </div>
      
    
  {% endblock %}
      
 

