{% extends 'administrador/base.html' %}
{% load static %}


{% block estilos_unicos %}
  <link rel="stylesheet" href="{% static 'css/nuestros_servicios.css' %}">
{% endblock %}

{% block titulo %} Nuestro Servicios {% endblock %}


  {% block contenido %}
      <figure class="text-center mt-5">
        <blockquote class="blockquote">
          <h5 style="color: rgb(248, 22, 5);">Nuestros Servicios</h5>
        </blockquote>
        <figcaption>
          <p style="color: rgb(0, 0, 0);">En nuestra aplicación podrás encontrar una amplia variedad <br> de servicios diseñados para facilitar el cuidado y bienestar de tu mascota</p>
        </figcaption>
      </figure>
      

      <div class="row row-cols-1 row-cols-md-3 g-4 mt-5 mx-auto text-center w-75">
        <div class="col">
          <div class="card h-100">
            <img src="{% static 'img/adopcion.jpg' %}" class="card-img-top w-50 d-block mx-auto" alt="...">
            <div class="card-body">
              <h5 class="card-title">Adopciones</h5>
              <p class="card-text">Espacio dedicado a conectar mascotas sin hogar con adoptantes responsables.</p>
            </div>
          </div>
        </div>
        
        <div class="col">
          <div class="card h-100">
            <div class="card-body">
              <h5 class="card-title">Mascotas Perdidas</h5>
              <p class="card-text">Sección donde los dueños pueden reportar mascotas extraviadas, indicando detalles como raza, color, ubicación y contacto. La comunidad recibe alertas y puede ayudar en la búsqueda.</p>
            </div>
            <img src="{% static 'img/mascotas_perdidas.jpg' %}" class="card-img-top w-50 d-block mx-auto" alt="...">

          </div>
        </div>
        
        <div class="col">
          <div class="card h-100">
            <img src="{% static 'img/veterinarias_asociada.jpg' %}" class="card-img-top w-50 d-block mx-auto" alt="...">
            <div class="card-body">
              <h5 class="card-title">Veterinarias Asociadas</h5>
              <p class="card-text">Directorio de veterinarias cercanas que ofrecen servicios de atención, vacunación y rescate para mascotas. Incluye información de contacto, horarios y ubicación.</p>
            </div>
          </div>
        </div>
      
        <div class="col">
          <div class="card h-100">
            <div class="card-body">
            <img src="{% static 'img/corazon2.jpg' %}" class="card-img-top w-50 d-block mx-auto" alt="...">
            </div>
          </div>
        </div>
        
        <div class="col">
          <div class="card h-100">
            <img src="{% static 'img/productos.png' %}" class="card-img-top w-50 d-block mx-auto" alt="...">
            <div class="card-body ">
              <h5 class="card-title">Productos</h5>
              <p class="card-text">En nuestra plataforma, los productos para mascotas abarcan alimentos, accesorios, juguetes, medicamentos e higiene, garantizando su bienestar y felicidad.</p>
            </div>
          </div>
        </div>
        
        <div class="col">
          <div class="card h-100">
            <div class="card-body">
              <img src="{% static 'img/corazon.jpg' %}" class="card-img-top w-50 d-block mx-auto" alt="...">

            </div>
          </div>
        </div>
      </div>
      
    
  {% endblock %}
      
 

