{% extends 'base.html' %}
{% load static %}

{% block estilos_unicos %}
    <link rel="stylesheet" href="{% static 'css/pagina_principal.css' %}">
{% endblock %}

{% block titulo %} Pagina Principal {% endblock %}

{% block contenido %}
    <section class="ctnd-principal">
        <section class="img-publicidad">
                <img src="{% static 'img/imagen_publicidad_pg.png' %}" alt="Imagen Publicidad">
        </section>
        <section class="tarjetas-img">
            <div class="tarjeta-1">
                <h1>Mascotas en adopcion</h1>
                <img src="{% static 'img/imagen_perro1_pg.png' %}" alt=" Imagen perro 1">
            </div> 
            <div class="tarjeta-1">
                <h1>Adopciones</h1>
                <img src="{% static 'img/imagen_gato_pg.png' %}" alt=" Imagen Gato">
            </div> 
            <div class="tarjeta-1">
                <h1>Mascotas en adopcion</h1>
                <img src="{% static 'img/imagen_perro2_pg.png' %}" alt="Imagen Perro 2">
            </div> 
            <div class="tarjeta-1">
                <h1>Adopciones</h1>
                <img src="{% static 'img/imagen_perro3_pg.png' %}" alt="Imagen Perro 3">
            </div> 
         </section>
            
    </section>
    
{% endblock %}
    