{% extends 'base.html' %}
{% load static %}

{% block estilos_unicos %}
    
    <link rel="stylesheet" href="{% static 'css/quienes_somos.css' %}">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
   
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">


{% endblock %}

{% block titulo %}Sobre Nosotros{% endblock %}

{% block contenido %}

    <main class="container text-center mt-5">
        <div class="about">
            <div class="title">
                <h1 class="font-weight-bold">Sobre la Empresa</h1>
            </div>
            <div class="desc">
                <p>En Cuidando Huellas, creemos que cada animal merece una segunda oportunidad. Fundada en [año], nuestra misión es rescatar, rehabilitar y encontrar hogares amorosos para perros, gatos y otros animales que han sido abandonados, maltratados o se encuentran en situación de vulnerabilidad.</p>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-md-4">
                <div class="card shadow-lg">
                    <div class="card-body text-center">
                        <img src="{% static 'img/Desarrollador.jpeg' %}" alt="desarrollador" 
                             class="rounded-circle mb-3" style="width: 100px; height: 100px; object-fit: cover;">
                        <h5 class="card-title font-weight-bold mt-3">Jean Carlos Cañaveral</h5>
                        <p class="card-text">Hola, soy un desarrollador especializado en backend y frontend. Mi enfoque es construir aplicaciones 
                            web.</p>
                    </div>
                </div>
            </div>
            
            <div class="col-md-4">
                <div class="card shadow-lg">
                    <div class="card-body text-center">
                        <img src="{% static 'img/Desarrollador2.jpeg' %}" alt="desarrollador" 
                             class="rounded-circle mb-3" style="width: 100px; height: 100px; object-fit: cover;">
                        <h5 class="card-title font-weight-bold mt-3">Yoiner Stiven Zapata</h5>
                        <p class="card-text">Hola, soy un desarrollador en backend y frontend apasionado por crear interfaces web dinámicas y intuitivas.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card shadow-lg">
                    <div class="card-body text-center">
                        <img src="{% static 'img/Desarrollador3.jpeg' %}" alt="desarrollador" 
                            class="rounded-circle mb-3" style="width: 100px; height: 100px; object-fit: cover;">
                        <h5 class="card-title font-weight-bold mt-3">Pablo Espinosa</h5>
                        <p class="card-text">Hola, soy un desarrollador especializado en Frontend y Bases de Datos. Mi enfoque es construir aplicaciones web.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-md-4">
                <div class="card shadow-lg">
                    <div class="card-body text-center">
                        <img src="{% static 'img/tolerancia.jpg' %}" alt="desarrollador" 
                            class="rounded-circle mb-3" style="width: 100px; height: 100px; object-fit: cover;">
                        <h5 class="card-title mt-3">Tolerancia</h5>
                        <p class="card-text">La tolerancia es el respeto y la aceptación de las diferencias entre personas, ya sean de pensamiento, cultura, religión o cualquier otro aspecto. </p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card shadow-lg">
                    <div class="card-body text-center">
                        <img src="{% static 'img/responsabilidad.jpg' %}" alt="desarrollador" 
                            class="rounded-circle mb-3" style="width: 100px; height: 100px; object-fit: cover;">
                        <h5 class="card-title mt-3">Responsabilidad</h5>
                        <p class="card-text">Es un valor fundamental que implica cumplir con compromisos, asumir las consecuencias de las acciones y actuar con honestidad y compromiso.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card shadow-lg">
                    <div class="card-body text-center">
                        <img src="{% static 'img/respeto.jpg' %}" alt="desarrollador" 
                            class="rounded-circle mb-3" style="width: 100px; height: 100px; object-fit: cover;">
                        <h5 class="card-title mt-3">Respeto</h5>
                        <p class="card-text">El respeto es la base de una convivencia armoniosa y se manifiesta en la consideración y valoración de los derechos, opiniones de los demas.</p>
                    </div>
                </div>
            </div>
        </div>
        
    </main>
    <!-- Bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

{% endblock %}
